*{
 font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.HomeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 background-color: #111827;
}
 
.Container{
    width: 90%;
    height: auto;
    display: grid;
      justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
    gap: 40px;
 
}

.ContainerDetails{
     width: 399px;
    height: 560px;
    background-color: #374151;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    border-radius: 7px 7px 7px 7px;  
transform: scale(1);
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
 
}

 
.ContainerDetails:hover{
transform: scale(1.1 );
  
}

.DivImg{
    width: 100%;
    height: auto;
 
}
.DivImg img{
width: 100%;
height:200px;
 
  object-fit:cover;
border-radius: 5px 5px 5px 5px;
}
.Div_Details_Info{
    width: 90%;
  height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
      gap: 3px;

}
.Div_Details_Info button{
    width: 100%;
    height:40px ;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
   color: white;
    justify-content: space-around;
    background-color: #4299E1;
    cursor: pointer;
 
}

.Div_Details_Info  button:hover{
background-color: #3182CE;
}
 
.Item_Details_Info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.Item_Details_Info h2{
    font-size: 28px;
    font-weight: 700;
    color: #60a5fa;
    text-align: start;
}
.Item_Details_Info span{
    font-size: 15px;
 color: #e5e7ebb3;
    font-weight: 500;
}
.Item_Details_Info h3{
    font-size: 23px;
    font-weight: 700;
    color: #22c55e;
   
}
.Item_Details_Info  p{
    font-size: 15px;
font-weight: 500;
 color: #e5e7ebb3;
    
}
.Caract_Detail{
    width: 87%;
    height:150px;
       display: flex;
       flex-direction: column;

}
.Caract_Detail h3{
    color: white;
    font-size: 16px;
    font-weight: 600;
 
     
}
.Caract_Detail ul{
    width: 100%;
    height: auto;
   padding: 5px;
   margin-left: 20px;
     
}
.Caract_Detail ul li{
font-size: 14px;
    font-weight: 500;
    color: #e5e7ebb3;
}
 
.pagination {
    width: auto;
    height: 60px;
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  margin-top: 40px;
  
}
 .pagination ul{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
text-decoration: none;
list-style: none;
   font-weight: 800;
 }

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
    color: #60a5fa;
   font-weight: 600;
   font-size: 16px;
}
.pagination a{
   font-weight: 700;
}
@media (width<=700px){

    .Container{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,auto);
      justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
 padding-bottom: 30px;
}
.ContainerDetails{
     width: 399px;
    height: auto;
    background-color: #374151;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 7px 7px 7px 7px;  
 
transform: scale(1);
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
 
}
 
.ContainerDetails:focus{
transform: scale(0.01);
  
}
.Caract_Detail{
    width: 87%;
    height:auto;
       display: flex;
       flex-direction: column;

}
.Item_Details_Info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
     
}

.Div_Details_Info button{
    width: 100%;
    height:36px ;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
   color: white;
    justify-content: space-around;
    background-color: #4299E1;
 cursor: pointer;
}

.Div_Details_Info{
    width: 90%;
  height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
      gap: 3px;
     
 padding: 15px;
}

.DivImg{
    width: 100%;
    height: auto;
 
}
.ContainerDetails img{
width: 100%;
height: auto;
   object-fit:contain;
border-radius: 5px 5px 5px 5px;
}



 
 
}